# Ignore tudo dentro de certificado.Aplicacao/obj/
certificado.Aplicacao/obj/

# Outras regras .gitignore que você possa ter
**/obj/
**/bin/

.vs/certificado.UI.Web/FileContentIndex/
.vs/ProjectEvaluation/certificado.ui.web.projects.v8.bin
.vs/ProjectEvaluation/certificado.ui.web.metadata.v8.bin