@model certificado.UI.Web.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Douglas</h1>
    <p>Welcome to your new application!</p>
</div>
